adf-capstone-hr-ups/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-capstone-hr-ups"
		},
		"LS_keyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-capstone-hr-ups.vault.azure.net/"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0521-045424-40zathnm"
		},
		"LS_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stcapstonehr1123.dfs.core.windows.net/"
		},
		"LS_sqlDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-capstone-hr-ups.database.windows.net"
		},
		"LS_sqlDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "hrdb"
		},
		"LS_sqlDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_keyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_keyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405608764598103.3.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_keyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "azure-db"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_keyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_keyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "storage-account-key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_keyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_sqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_sqlDB_properties_typeProperties_server')]",
					"database": "[parameters('LS_sqlDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_sqlDB_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_keyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "sql-admin-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_keyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transform_hr')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run_Orchestrator",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/hr_capstone/00_orchestrator"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"run_id": {
						"type": "string",
						"defaultValue": "@pipeline().RunId"
					},
					"run_date": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.run_date"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-21T10:48:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_csv_in')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string",
						"defaultValue": "landing"
					},
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_csv_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string",
						"defaultValue": "landing"
					},
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_audit')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_sqlDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "run_id",
						"type": "varchar"
					},
					{
						"name": "pipeline_name",
						"type": "varchar"
					},
					{
						"name": "source_name",
						"type": "varchar"
					},
					{
						"name": "load_type",
						"type": "varchar"
					},
					{
						"name": "start_time",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "end_time",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "records_read",
						"type": "int",
						"precision": 10
					},
					{
						"name": "records_inserted",
						"type": "int",
						"precision": 10
					},
					{
						"name": "records_updated",
						"type": "int",
						"precision": 10
					},
					{
						"name": "records_rejected",
						"type": "int",
						"precision": 10
					},
					{
						"name": "status",
						"type": "varchar"
					},
					{
						"name": "error_message",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "pipeline_audit"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_sqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_sqlDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_sqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_land_masters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Employee_Master",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_src",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dbo",
									"tableName": "src_employee_master"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_csv_out",
								"type": "DatasetReference",
								"parameters": {
									"container": "landing",
									"folderPath": {
										"value": "raw/employee/@{utcnow('yyyy-MM-dd')}",
										"type": "Expression"
									},
									"fileName": "employee_master.csv"
								}
							}
						]
					},
					{
						"name": "Copy_Department_Master",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "department_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "department_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "department_name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "department_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "business_unit",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "business_unit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "location",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "active_status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "active_status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "last_updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "last_updated",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_src",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dbo",
									"tableName": "src_department_master"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_csv_out",
								"type": "DatasetReference",
								"parameters": {
									"container": "landing",
									"folderPath": {
										"value": "raw/department/@{utcnow('yyyy-MM-dd')}",
										"type": "Expression"
									},
									"fileName": "department_master.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-21T11:05:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_csv_out')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_hr')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Master orchestration pipeline. Calls pl_land_masters then pl_transform_hr.",
				"activities": [
					{
						"name": "Run_Land_Masters",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_land_masters",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Run_Transform_HR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run_Land_Masters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transform_hr",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"run_date": {
									"value": "@pipeline().parameters.run_date",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"run_date": {
						"type": "string",
						"defaultValue": "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-21T11:30:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_land_masters')]",
				"[concat(variables('factoryId'), '/pipelines/pl_transform_hr')]"
			]
		}
	]
}